<div class="form-container">
  <%= devise_error_messages! %>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, role: 'form' }) do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Resend confirmation instructions</h2>        
    </div>

    <div class="panel-body">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control input-lg' %>
      </div>

      <%= f.submit 'Resend confirmation instructions', class: 'btn btn-default btn-lg' %>
      <div><br /><%= render "devise/shared/links" %></div>
    </div>
  </div>
  <% end -%>
</div>