<% title 'Edit Account' %>

<%= devise_error_messages! %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, role: 'form'}) do |f| %>  
  <div class="shadow-box">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center header-short">
          <h1>Edit Account</h1>
        </div>
        <div class="form-group">
          <%= render 'devise/shared/first_name', f: f %>
          <%= render 'devise/shared/last_name', f: f %>
          <%= render 'devise/shared/email', f: f %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting on email confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        </div>
        <br>
        <div class="form-group">
          <h3 class="text-center cyan-text"><em>Leave these fields blank if you don't want to change your password.</em></h3>
          <%= render 'devise/shared/password_length_estimate', f: f %>
          <%= render 'devise/shared/password_confirmation', f: f %>
        </div>
        <br>
        <div class="form-group">
          <h3 class="text-center pink-text"><em>You must enter your current password to make changes.</em></h3>
          <%= render 'devise/shared/password', f: f, field: :current_password, label: 'Current Password' %>
        </div>
        <%= render 'forms/submit', f: f, label: 'Save' %>
      </div>
    </div>
  </div>
<% end %>

  <div class="shadow-box">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center header-short">
          <h1>Cancel Account</h1>
          <h4>We're sad to see you go!</h4>
        </div>
        <div class="form-group">
          <%= link_to 'Delete Account', registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'shadows btn btn-default btn-100' %>
      </div>
    </div>
  </div>
</div>