<%= form_for([@article, @comment], html: { role: 'form'}) do |f| %>
  <%= render 'forms/errors', resource: @comment, resource_name: 'comment' %>
  
  <div class="form-group">
    <%= render 'forms/created_by', f: f, field_label: 'Added By', resource: @comment %>
    <%= render 'forms/content', f: f, field_label: 'Comment' %>
    <%= render 'forms/submit', f: f, label: 'Save' %>
  </div>
<% end %>