<%= form_for @article, html: { multipart: true, role: 'form' } do |f| %>
  <%= render 'forms/errors', resource: @article, resource_name: 'article' %>

  <div class="form-group">    
    <%= render 'forms/created_by', f: f, field_label: 'Author', resource: @article %>
    <%= render 'forms/title', f: f, title: 'Article Title' %>
    <%= render 'forms/categories', f: f %>
    <%= render 'forms/tags', f: f, resource: @article %>
    <%= render 'forms/featured_image', f: f, resource: @article %>
    <%= render 'forms/wysiwyg', f: f, field: :content %>
    <%= render 'forms/submit', f: f, label: 'Save' %>
  </div>
<% end %>

<%= render 'shared/select2_taggable_script' %>

<style>
.re-icon.re-file {
  display:none;
}
</style>