<center>
  <h1>Articles Index</h1>
  <% if can? :create, Article %>
    <p>Looks like you can add a new article!<br />
    <%= link_to 'Add new article', new_article_path, class:'btn btn-default' %>
    <br /></p>
  <% end %>

  <div class="num_entries">
    <%= page_entries_info @articles, remote: true %>
  </div>

  <div class="paginate">
    <%= paginate @articles, remote: true %>
    <br /><br />
  </div>

  <div id="articles" class="row">
    <%= render @articles %>
    <br /><br />
  </div>

  <div class="num_entries">
    <%= page_entries_info @articles, remote: true %>
  </div>

  <div class="paginate">
    <%= paginate @articles, remote: true %>
    <br /><br />
  </div>

</center>