<% title @article.name %>


<div class="shadow-box">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center header-short">
        <h1><%= @article.name %></h1>
        <h3>
          <%= local_time_ago(@article.created_at) %> by 
          <%= @article.user.full_name %>
        </h3>
        <% if can? :update, @article %>
          <%= link_to edit_article_path(@article) do %>
            <%= render 'shared/icon_edit' %>
          <% end %>
        <% end %>
        <div class="spacing"></div>
        <% if can? :destroy, @article %>
          <%= link_to @article, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= render 'shared/icon_delete' %>
          <% end %>
        <% end %>
        <div class="padding-top-20"></div>
        <%= image_tag(@article.image.url(:medium), class: 'center-block img-responsive') %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="text-justify">
        <%= sanitize(@article.content, tags: %w(code pre div p ul ol table dl blockquote pre a object embed video audio img figure iframe hr dd dl dt h1 h2 h3 h4 h5 h6 span label br i b del strike u param mark cite small li sup sub big figcaption strong em tr td th tbody thead), attributes: %w(href src style)) %>
      </div>
      <div class="padding-top-20"></div>
      <%= render 'shared/category_link', resource: @article %>
      <%= render 'shared/tag_link', resource: @article %>
    </div>
  </div>
</div>
<br><br>

<%= render template: 'comments/index' %>
