<% title 'Resend Unlock Instructions' %>

<%= devise_error_messages! %>
<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, role: 'form' }) do |f| %>
  <div class="shadow-box">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center header-short">
          <h1>Resend Unlock Instructions</h1>
        </div>
        <div class="form-group">
          <%= render 'devise/shared/email', f: f %>
          <%= render 'forms/submit', f: f, label: 'Resend Unlock Instructions' %>
        </div>
        <div class="text-center">
          <br>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
<% end %>