<div class="form-container">
  <%= devise_error_messages! %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: 'form'}) do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Forgot your password?</h2>      
    </div>

    <div class="panel-body">
      <div class="form-group">
        <p>We'll send you instructions to reset your password.</p>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control input-lg' %>
      </div>
      
      <%= f.submit 'Reset password', class: 'btn btn-default' %>
    </div>
  </div>
  <% end -%>
</div>