<div class="form-container">
  <%= devise_error_messages! %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form'}) do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="text-center">Log In</h2>
    </div>

    <div class="panel-body">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control input-lg' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control input-lg' %>
      </div>

      <%= f.submit 'Log in', class: 'btn btn-default' %>
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %> Remember me
          </label>
        </div>
      <% end -%>
      <div><%= render "devise/shared/links" %></div>
    </div>
  </div>
  <% end %>
</div>