<%= form_for(@reference, html: { role: 'form'}) do |f| %>
  <%= render 'forms/errors', resource: @reference, resource_name: 'resource' %>

  <div class="form-group">
    <%= render 'forms/created_by', f: f, field_label: 'Added By', resource: @reference %>
    <%= render 'forms/title', f: f, title: 'Resource Name' %>
    <%= render 'forms/uri', f: f, title: 'Resource URL' %>
    <%= render 'forms/categories', f: f %>
    <%= render 'forms/tags', f: f, resource: @reference %>
    <%= render 'forms/short_description', f: f, field: :description %>
    <%= render 'forms/submit', f: f, label: 'Save' %>
  </div>
<% end %>

<%= render 'shared/select2_taggable_script' %>