<center>
  <h1>Resources Index</h1>
  <% if can? :create, Reference %>
    <p>Looks like you can add a new resource!<br />
    <%= link_to 'Add new resource', new_reference_path, class:'btn btn-default' %>
    <br /></p>
  <% end %>
</center>

<div class="num_entries">
  <%= page_entries_info @references, remote: true %>
</div>

<div class="paginate">
  <%= paginate @references, remote: true %>
  <br /><br />
</div>

<div id="references" class="row">
  <%= render @references %>
  <br /><br />
</div>

<div class="num_entries">
  <%= page_entries_info @references, remote: true %>
</div>

<div class="paginate">
  <%= paginate @references, remote: true %>
  <br /><br />
</div>