<div class="row">
  <%= link_to references_path, class: 'btn btn-default' do %>
    <span class="fa fa-chevron-left">&nbsp;&nbsp;&nbsp;</span>Back to all resources
  <% end %><br /><br />
</div>

<div class="row">
  <p>Name: <%= @reference.name %></p>
  <p>Link: <%= link_to @reference.uri, @reference.uri %></p>
  <p>User: <%= @reference.user.full_name %></p>
    <% if can? :update, @reference %>
      <br /><%= link_to 'Edit this resource', edit_reference_path(@reference), class: 'btn btn-default' %>
    <% end %>
</div>