<div class="row">
  <%= link_to references_path, class: 'btn btn-default' do %>
    <span class="fa fa-chevron-left">&nbsp;&nbsp;&nbsp;</span>Back to all resources
  <% end %><br /><br />
</div>

<div class="row">
  <h3 class="no-margins">Resource Name</h3>
  <p><%= @reference.name %></p>

  <h3 class="no-margins">URL</h3>
  <p><%= link_to @reference.uri, @reference.uri %></p>

  <h3 class="no-margins">Added By</h3>
  <p><%= @reference.user.full_name %></p>

  <h3 class="no-margins">Added On</h3>
  <p><%= local_time_ago(@reference.created_at) %></p>

  <h3 class="no-margins">Categories</h3>
  <% @reference.categories.each do |category| %>
    <%= render partial: 'categories/category_link', locals: { category: category } %>
  <% end %>
  <br />
  
  <h3 class="no-margins">Tags</h3>
  <%= render @reference.tags.order(name: :asc) %>

  <p><br />
    <% if can? :update, @reference %>
      <br /><%= link_to 'Edit', edit_reference_path(@reference), class: 'btn btn-default' %>
    <% end %>

    <% if can? :destroy, @reference %>
      <%= link_to 'Delete', @reference, class: 'btn btn-default',  method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>
</div>