<center>
  <h1>All Categories</h1>
  <% if can? :create, Category %>
    <p>
      Looks like you can add a new category!<br />
      <%= link_to 'Add new category', new_category_path, class:'btn btn-default' %><br />
    </p>
  <% end %>

  <h2><% @categories.each do |category| %>
    <%= link_to category.name, category_path(category) %>&nbsp;&nbsp;
  <% end %></h2>
</center>

<div class="container-fluid">
  <h3>Articles</h3>
  <div class="num_entries-articles">
    <%= page_entries_info @articles, param_name: 'article', remote: true %>
  </div>
  <div class="paginate-articles">
    <%= paginate @articles, param_name: 'article', remote: true %>
    <br /><br />
  </div>
  <div id="articles">
    <%= render @articles %>
  </div>
</div>

<div class="container-fluid">
  <h3>Products</h3>
  <div class="num_entries-products">
    <%= page_entries_info @products, param_name: 'product', remote: true %>
  </div>
  <div class="paginate-products">
    <%= paginate @products, param_name: 'product', remote: true %>
    <br /><br />
  </div>
  <div id="products">
    <%= render @products %>
  </div>
</div>

<div class="container-fluid">
  <h3>Resources</h3>
  <div class="num_entries-references">
    <%= page_entries_info @references, param_name: 'resource', remote: true %>
  </div>
  <div class="paginate-references">
    <%= paginate @references, param_name: 'resource', remote: true %>
    <br /><br />
  </div>
  <div id="references">
    <%= render  @references %>
  </div>
</div>