<% title @category.name %>

<div class="text-center header-short">
  <h1><%= @category.name %></h1>
  <% if can? :update, @category %>
    <%= link_to edit_category_path(@category) do %>
      <%= render 'shared/icon_edit' %>
    <% end %>
  <% end %>
  <div class="spacing"></div>
  <% if can? :destroy, @category %>
    <%= link_to @category, method: :delete, data: { confirm: 'Are you sure? You\'re about to delete this category forever!' } do %>
      <%= render 'shared/icon_delete' %>
    <% end %>
  <% end %>
</div>

<%= render 'shared/category_tag' %>
<%= render 'shared/star_rating_read_only' %>