<%= form_for @product, html: { multipart: true, role: 'form' } do |f| %>
  <%= render 'forms/errors', resource: @product, resource_name: 'product' %>

  <div class="form-group">
    <%= render 'forms/created_by', f: f, field_label: 'Created By', resource: @product %>
    <%= render 'forms/title', f: f, title: 'Product Name' %>
    <%= render 'forms/categories', f: f %>
    <%= render 'forms/tags', f: f, resource: @product %>
    <%= render 'forms/featured_image', f: f, resource: @product %>
    <%= render 'forms/wysiwyg', f: f, field: :description %>
    <%= render 'forms/submit', f: f, label: 'Save' %>
  </div>
<% end %>

<%= render 'shared/select2_taggable_script' %>

<style>
.re-icon.re-image, .re-icon.re-file {
  display:none;
}
</style>
