<div class="col-sm-6 col-md-3">
  <center>
    <div class="thumbnail">
      <%= link_to (image_tag product.image.url(:thumb), class: 'image'), product %>
    
      <div class="caption">
        <h3><%= product.name %></h3>

        <div class="star-rating" data-score= <%= product.average_rating %> ></div>
        <p><em>(<%= pluralize(product.reviews.length, "Review") %>)</em></p>

        <% if can? :update, product %>
          <%= link_to 'Edit', edit_product_path(product) %>
        <% end %>
        
        <% if can? :destroy, product %>
           | <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  </center>
</div>

<script>
$('.star-rating').raty({
  path: '/assets/',
  readOnly: true,
  score: function() { return $(this).attr('data-score') }
});
</script>
