<% title @product.name %>

<div class="shadow-box">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center header-short">
        <h1><%= @product.name %></h1>
        <% if can? :update, @product %>
          <%= link_to edit_product_path(@product) do %>
            <%= render 'shared/icon_edit' %>
          <% end %>
        <% end %>
        <div class="spacing"></div>
        <% if can? :destroy, @product %>
          <%= link_to @product, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= render 'shared/icon_delete' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= image_tag(@product.image.url(:medium), class: 'center-block img-responsive') %>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= render 'shared/category_link', resource: @product %>
      <%= render 'shared/tag_link', resource: @product %>
      <h3>Added By</h3>
      <p><%= @product.user.full_name %></p>
      <h3>Added On</h3>
      <p><%= local_time_ago(@product.created_at) %></p>
      <h3>Description</h3>
      <div class="text-justify">
        <%= sanitize(@product.description, tags: %w(code pre div p ul ol table dl blockquote pre a object embed video audio img figure iframe hr dd dl dt h1 h2 h3 h4 h5 h6 span label br i b del strike u param mark cite small li sup sub big figcaption strong em tr td th tbody thead), attributes: %w(href src style)) %>
      </div>
      <br>
    </div>
  </div>
</div>
<br><br>

<%= render template: 'reviews/index' %>
