<%= image_tag @product.image.url(:medium) %>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<h2>Add a review:</h2>
<%= render 'reviews/form' %>

<h2>Reviews</h2>
<div class="col-md-7 col-md-offset-1">
	<% @reviews.each do |review| %>
		<div class="reviews">
			<p><%= review.rating %></p>
			<p><%= review.comment %></p>
		</div>
	<% end %>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
