<%= link_to products_path, class: 'btn btn-default' do %>
  <span class="fa fa-chevron-left">  &nbsp; &nbsp; Back to all products</span>
<% end %><br /><br />

<div class="row">
  <div class="col-md-6">
    <%= image_tag @product.image.url(:medium) %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title-1"><%= @product.name %></h2>
        <% if can? :update, @product %>
          <br /><%= link_to 'Edit this product', edit_product_path(@product), class: 'btn btn-default' %>
        <% end %>
      </div>
      <div class="panel-body">
        <p><%= @product.description %></p>
      </div>
    </div>
  </div>
</div>
<br />
<%= render template: 'reviews/index' %>