<div class="row">
  <%= link_to products_path, class: 'btn btn-default' do %>
    <span class="fa fa-chevron-left">&nbsp;&nbsp;&nbsp;</span>Back to all products
  <% end %><br /><br />
</div>

<div class="row">
  <div class="col-md-6">
    <%= image_tag @product.image.url(:medium) %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title-1"><%= @product.name %></h2>

        <h4>Added By</h4>
        <p><%= @product.user.full_name %></p>
        
        <h4>Created</h4>
        <p><%= local_time_ago(@product.created_at) %></p>
        
        <h3 class="panel-title-1">Categories</h3>
        <% @product.categories.each do |category| %>
          <%= render partial: 'categories/category_link', locals: { category: category } %>
        <% end %>
            
        <h3 class="panel-title-1">Tags</h3>
        <%= render @product.tags %>

        <p><br />
          <% if can? :update, @product %>
            <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-default' %>
          <% end %>

          <% if can? :destroy, @product %>
            <%= link_to 'Delete', @product, class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </p>
      </div>
      <div class="panel-body">
        <p><%= @product.description %></p>
      </div>
    </div>
  </div>
</div>
<br />
<%= render template: 'reviews/index' %>