<%= form_for([@product, @review], html: { role: 'form'}) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <div class="field">
      <div id="star-rating" data-score="<%= @review.rating %>"></div>
    </div>

    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_area :content %>
    </div>

      <%= f.submit 'Save', data: { disable_with: "Submitting..." }, class: 'btn btn-default' %>
  </div>
<% end %>

<script>
  // Cache the node.
  $rating = $('#star-rating');

  $rating.raty({
    // Initial score
    score: $rating.data('score'),
    // Path to icon assets
    path: '/assets/',
    // Name of input that will be created to store the new score
    scoreName: 'review[rating]'
  });
 </script>