<%= form_for([@product, @review], html: { role: 'form'}) do |f| %>
  <%= render 'forms/errors', resource: @review, resource_name: 'review' %>
  
  <div class="form-group">
    <%= render 'forms/created_by', f: f, field_label: 'Added By', resource: @review %>
    <div class="field">
      <h3>Rating</h3>
      <div id="star-rating" data-score="<%= @review.rating %>"></div>
    </div>

    <%= render 'forms/content', f: f, field_label: 'Review' %>
    <%= render 'forms/submit', f: f, label: 'Save' %>
  </div>
<% end %>

<script>
  $rating = $('#star-rating');

  $rating.raty({
    score: $rating.data('score'),
    path: '',
    scoreName: 'review[rating]'
  });
 </script>