<div class="shadow-box">
  <div class="row spacer-row text-center">
    <h2>Reviews</h2>
    <div class="star-rating" data-score= <%= @product.average_rating %> ></div>
    <p><em>(<%= pluralize(@product.reviews.length, "Review") %>)</em></p>
    <div class="padding-top-20"></div>
    <%= link_to new_product_review_path(@product), class: 'shadows btn btn-default' do %>
      <i class="fa fa-plus fa-lg"></i>&nbsp; Review
    <% end %>
  </div>

  <div class="panel-body">
    <hr>
    <div id="reviews">
      <%= render @reviews %>
    </div>
    <br>

    <div class="num_entries pagination-info text-center">
      <%= page_entries_info @reviews, remote: true %>
    </div>

    <div class="paginate text-center">
      <%= paginate @reviews, remote: true %>
    </div>
  </div>
</div>

<%= render 'shared/star_rating_read_only' %>