<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      The Petite Life
    </title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, inital-scale=1">
  </head>
  <body>

    <%= render 'layouts/header' %>
    
    <div id="main-content" class="container">
     <% if controller.action_name == 'index' || controller.action_name == 'show' || controller.action_name == 'home' %>
        <%= render 'layouts/search' %>
        <div class="header"></div>
      <% end %>
        <%= render 'layouts/messages' %>
        <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
